body {
  background-image: url("./img/Background-1080.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

header {
  font-family: 'Original Surfer', cursive;
}

#map {
  height: 50vh;
  width: 50vh;
}