body {
  background-image: url("./img/Background-1080.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

header {
  font-family: 'Original Surfer', cursive;
}

.surf-planner {
  font-size: 80px;
}

.zip-code {
  max-width: 185px;
}