body {
  background-image: url("./img/Background-1080.png");
  font-family: 'Helvetica', sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}

button{
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  opacity: 0.7;
}

header {
  font-family: 'Original Surfer', cursive;
}

p {
  max-width: 65%;
  margin: auto;
  margin-bottom: 25px;
  text-align: center;
  color: white;
}

strong {
  font-weight: 800;
}

.surf-planner{
  font-size: 80px;
}

.zip-code{
  max-width: 185px;
}

.location-1-6am {
  max-width: 65%;
  margin: auto;
  margin-bottom: 25px;
}

.location-1-9am {
  max-width: 65%;
  margin: auto;
  margin-bottom: 25px;
}

.location-1-12pm {
  max-width: 65%;
  margin: auto;
  margin-bottom: 25px;
}

.location-1-3pm {
  max-width: 65%;
  margin: auto;
  margin-bottom: 25px;
}

.location-1-6pm {
  max-width: 65%;
  margin: auto;
  margin-bottom: 25px;
}

.location-2-6am {
  max-width: 65%;
  margin: auto;
  margin-bottom: 25px;
}

.location-2-9am {
  max-width: 65%;
  margin: auto;
  margin-bottom: 25px;
}

.location-2-12pm {
  max-width: 65%;
  margin: auto;
  margin-bottom: 25px;
}

.location-2-3pm {
  max-width: 65%;
  margin: auto;
  margin-bottom: 25px;
}

.location-2-6pm {
  max-width: 65%;
  margin: auto;
  margin-bottom: 25px;
}

.location-3-6am {
  max-width: 65%;
  margin: auto;
  margin-bottom: 25px;
}

.location-3-9am {
  max-width: 65%;
  margin: auto;
  margin-bottom: 25px;
}

.location-3-12pm {
  max-width: 65%;
  margin: auto;
  margin-bottom: 25px;
}

.location-3-3pm {
  max-width: 65%;
  margin: auto;
  margin-bottom: 25px;
}

.location-3-6pm {
  max-width: 65%;
  margin: auto;
  margin-bottom: 25px;
}

.hide {
  display:none;
}

.beginner {
  color: rgb(52, 118, 72);
}

.intermediate {
  color: rgb(228, 228, 151);
}

.advanced {
  color: rgb(169, 61, 61);
}

.google-footer {
  margin-top: 1000px;
}